/* BASE STYLING SO WE CAN SEE HOW COMPONENTS ARE INTERACTING */

div {
  padding:20px;
  margin-bottom:5px;
}

#myProfile {border:3px solid red;background:lightcoral}
#loginSignup {border:3px solid blue;background:lightblue;}
#landing {border:3px solid green;background:lightgreen}
#navbar {border:3px solid purple;background:lightpink}
#debugStuff {border:3px solid black;background:lightgrey}
#newPost {border: 3px solid orangered; background: orange;}
#login {border:3px solid yellow;background:lightyellow;display:block;}
#signup {border:3px solid seagreen;background:lightseagreen;}
.active {background-color:#fff;color:#000}
.notActive {background-color:rgb(99, 99, 99);color:rgb(206, 206, 206);}
.toggler {display:inline-block;width:300px;}
label, input {width:200px;display:block;}
.smol {width:100px;}

span {display:inline-block;margin:0 10px 0 0;}

a {display:inline-blick;background:orange;margin:0 10px 0 0;padding:10px;color:#000 !important;text-decoration:none !important;cursor:pointer;}
a:hover {background:lightsalmon;}

h5 {padding:0;margin:0 0 20px 0 !important;}

.s200 {color:green;}
.s401, .s500, .s409, .s400 {color:red;}